
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 60%;
}

.about-container, .app-container {
  border: 1px dashed;
  margin: 1.5rem;
  padding: 1.5rem;
}

body {
  font-family: 'Nunito Sans';
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
}

h1, h2, h3 {
  font-family: Poppins bold, sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1rem;
}

p, 
label, 
li,
textarea {
  opacity: 80%;
}

a {
  text-decoration: none;
  color: #00ccff;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.textarea-container {
  flex: 1;
  min-width: 70%;
  border: 1px dashed;
  margin-right: 0.5rem;
}

textarea {
  resize: none;
  font-family: 'Source Code Pro';
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: uppercase;

  padding: 1em;
  width: 100%;
  height: 100%;
}

.parameter-container {
  /* flex-wrap: wrap; */
  border: 1px dashed;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.param-row {
  border: 1px dashed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 3rem;
}

.param-label {
  border: 1px dashed;
  width: 12ch;
}

.param-select {
  flex-wrap: wrap;
  width: 10rem;
}

#oscillator-select {
  width: 100%;
}

.param-slider {
  flex-wrap: wrap;
}

.button-container {
  border: 1px dashed;
  width: 4em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

button {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/*
.formant-shift-container {
  position: absolute;
  left: 0%;
  top: 0%;
}*/

body {
  display:flex;
  justify-content: center;
}

